/**
*** Bone button
*** (C) Tom 2018
**/

.button,
button,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  color: rgba(0,0,0,1);
  border: 1px solid rgba(0,0,0,0);
  background: rgba(255,255,255,.6);
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  color: rgba(0,0,0,1);
  border: 1px solid rgba(255,255,255,.6);
  background: rgba(255,255,255,1);
  outline: 0; }

/*  button styling  */

.button-default{
  color: rgba(0,0,0,.5);
  background: rgba(255,255,255,1);
  box-shadow:   0 1px 0 hsl(174,5%,80%),
                 0 2px 0 hsl(174,5%,75%),
                 0 3px 0 hsl(174,5%,70%),
                 0 4px 0 hsl(174,5%,66%),
                 0 5px 0 hsl(174,5%,64%),
                 0 6px 0 hsl(174,5%,62%),
                 0 7px 0 hsl(174,5%,61%),
                 0 8px 0 hsl(174,5%,60%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}
.button-default:hover,
.button-default:active,
.button-default:focus {
  color: rgba(0,0,0,1);
  border: 1px solid rgba(255,255,255,1);
  background: rgba(255,255,255,1);
  transform: translateY(4px);
  outline: 0;
  box-shadow:   0 1px 0 hsl(174,5%,80%),
                 0 2px 0 hsl(174,5%,75%),
                 0 3px 0 hsl(174,5%,70%),
                 0 4px 0 hsl(174,5%,66%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}

.button-success{
  color: rgba(0,0,0,.5);
  background: rgba(33,255,208,1);
  box-shadow:   0 1px 0 hsl(167,100%,20%),
                 0 2px 0 hsl(167,100%,24%),
                 0 3px 0 hsl(167,100%,22%),
                 0 4px 0 hsl(167,100%,20%),
                 0 5px 0 hsl(167,100%,18%),
                 0 6px 0 hsl(167,100%,16%),
                 0 7px 0 hsl(167,100%,14%),
                 0 8px 0 hsl(167,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}
.button-success:hover,
.button-success:active,
.button-success:focus {
  color: rgba(0,0,0,1);
  border: 1px solid rgba(33,255,208,.6);
  background: rgba(33,255,208,1);
  transform: translateY(4px);
  outline: 0;
  box-shadow:   0 1px 0 hsl(167,100%,18%),
                 0 2px 0 hsl(167,100%,16%),
                 0 3px 0 hsl(167,100%,14%),
                 0 4px 0 hsl(167,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}

.button-warning{
  color: rgba(0,0,0,.5);
  background: rgba(255,235,59,1);
  box-shadow:   0 1px 0 hsl(54,100%,26%),
                 0 2px 0 hsl(54,100%,24%),
                 0 3px 0 hsl(54,100%,22%),
                 0 4px 0 hsl(54,100%,20%),
                 0 5px 0 hsl(54,100%,18%),
                 0 6px 0 hsl(54,100%,16%),
                 0 7px 0 hsl(54,100%,14%),
                 0 8px 0 hsl(54,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}
.button-warning:hover,
.button-warning:active,
.button-warning:focus {
  color: rgba(0,0,0,1);
  border: 1px solid rgba(255,235,59,.6);
  background: rgba(255,235,59,1);
  transform: translateY(4px);
  outline: 0;
  box-shadow:   0 1px 0 hsl(54,100%,18%),
                 0 2px 0 hsl(54,100%,16%),
                 0 3px 0 hsl(54,100%,14%),
                 0 4px 0 hsl(54,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}

.button-error{
  color: rgba(0,0,0,.5);
  background: rgba(244,67,54,1);
  box-shadow:   0 1px 0 hsl(4,100%,26%),
                 0 2px 0 hsl(4,100%,24%),
                 0 3px 0 hsl(4,100%,22%),
                 0 4px 0 hsl(4,100%,20%),
                 0 5px 0 hsl(4,100%,18%),
                 0 6px 0 hsl(4,100%,16%),
                 0 7px 0 hsl(4,100%,14%),
                 0 8px 0 hsl(4,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}
.button-error:hover,
.button-error:active,
.button-error:focus {
  color: rgba(0,0,0,1);
  border: 1px solid rgba(244,67,54,.6);
  background: rgba(244,67,54,1);
  transform: translateY(4px);
  outline: 0;
  box-shadow:   0 1px 0 hsl(4,100%,18%),
                 0 2px 0 hsl(4,100%,16%),
                 0 3px 0 hsl(4,100%,14%),
                 0 4px 0 hsl(4,100%,12%),

                 0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 5px rgba(0,0,0,.2);}
