/**
*** Bone index
*** (C) Tom 2018
**/

/*  Links  */

a {
  color: rgba(33, 255, 208, .8); }
a:hover {
  color: rgba(33, 255, 208, 1);}

/*  Lists  */

ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/*  Tables  */
table{
  width: 100%;
  box-sizing: border-box;
}
th,
td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #E1E1E1; }

/*  Gap  */
hr, br {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }
