/**
*** Bone base
*** (C) Tom 2018
**/

@font-face {
  font-family: 'e8x12';
  src: url('font/e8x12.ttf') format('truetype');
}
@font-face {
  font-family: 'k8x12';
  src: url('font/k8x12.ttf') format('truetype');
}
@font-face {
  font-family: 'z8x12';
  src: url('font/z8x12.ttf') format('truetype');
}

html {
  font-size: 62.4%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  font-family: 'e8x12', 'z8x12', 'k8x12', 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

/*  Links  */

a {
  color: rgba(33, 255, 208, .8); }
a:hover {
  color: rgba(33, 255, 208, 1);}

/*  Lists  */

ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/*  Tables  */
table{
  width: 100%;
  box-sizing: border-box;
}
th,
td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #E1E1E1; }

/*  Gap  */
hr, br {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }
